@import url(index.css);

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
}

@media screen and (max-width: 32em) {
    nav ul {
        flex-direction: column;
    }
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: var(--primary-color-1);
    font-weight: bold;
}

a:hover {
    color: var(--secondary-color-1);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}