body {
  --main-bg-color: #EDEFEE;
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE57;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EDEFEE;
  --highlight-color-2: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", "Markazi Text", " Segoe UI", " Roboto", " Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  display: grid;
  row-gap: 1em;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-auto-rows: min-content;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}