body {
  --main-bg-color: #edefee;
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce57;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333333;
  --highlight-color-3: #11bbff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", "Markazi Text",
    " Segoe UI", " Roboto", " Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  font-family: 'Markazi Text', sans-serif;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  display: grid;
  row-gap: 1em;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-auto-rows: min-content;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
